<mat-toolbar color="primary">
  <span>Doctor Appointment Scheduler</span>
  <mat-radio-group [(ngModel)]="view">
    <mat-radio-button value="month">Month</mat-radio-button>
    <mat-radio-button value="week">Week</mat-radio-button>
    <mat-radio-button (click)="listTable()">List</mat-radio-button>
  </mat-radio-group>
  <button mat-button (click)="previous()"><</button>
  <span>{{viewDate | calendarDate:(view + 'ViewTitle')}}</span>
  <button mat-button (click)="next()">></button>
  <button mat-raised-button color="accent" (click)="openAddEventDialog()">Add Event</button>
</mat-toolbar>

<div style="margin:20px">
  <mwl-calendar-month-view class="month"
    *ngIf="view===CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [cellTemplate]="customMonthCell">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngIf="view===CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-week-view>
</div>

<ng-template #customMonthCell let-day="day">
  {{day.date | date:'d'}}
  <div *ngFor="let event of day.events">
    {{event.title}}
  </div>
</ng-template>

  <div *ngIf="list" class="table">
  <table mat-table [dataSource]="filteredData">
    <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title<input type="text" (input)="Title($event)"> </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="Start">
    <th mat-header-cell *matHeaderCellDef> Start <input type="text"></th>
    <td mat-cell *matCellDef="let element"> {{element.start | date:'shortDate'}} </td>
  </ng-container>
   <ng-container matColumnDef="StartTime">
    <th mat-header-cell *matHeaderCellDef> Start Time <input type="text"></th>
    <td mat-cell *matCellDef="let element"> {{element.start | date:'shortTime'}} </td>
  </ng-container>
  <ng-container matColumnDef="End">
    <th mat-header-cell *matHeaderCellDef> End
      <input type="text"> </th>
    
    <td mat-cell *matCellDef="let element"> {{element.end | date:'shortTime'}} </td>
  </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


