<mat-toolbar color="primary">
  <span>Doctor Appointment Scheduler</span>
  <mat-radio-group >
    <mat-radio-button (click)="setView(CalendarView.Month)">Month</mat-radio-button>
    <mat-radio-button (click)="setView(CalendarView.Week)">Week</mat-radio-button>
    <mat-radio-button (click)="listTable()">List</mat-radio-button>
  </mat-radio-group>
  <button mat-button (click)="previous()"><</button>
  <span *ngIf="!list">{{viewDate | calendarDate:(view + 'ViewTitle')}}</span>
  <button mat-button (click)="next()">></button>
  <button mat-raised-button color="accent" (click)="openAddEventDialog()">Add Event</button>
</mat-toolbar>

<div style="margin:20px">
  <mwl-calendar-month-view class="month"
    *ngIf="view===CalendarView.Month && !list"
    [viewDate]="viewDate"
    [events]="Events()"
    [cellTemplate]="customMonthCell">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngIf="view===CalendarView.Week && !list"
    [viewDate]="viewDate"
    [events]="Events()">
  </mwl-calendar-week-view>
  <div *ngIf="list" class="table">
  <table mat-table [dataSource]="filteredData">
    <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title<input type="text" (input)="Title($event)"> </th>
    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
  </ng-container>
  <ng-container matColumnDef="Start">
    <th mat-header-cell *matHeaderCellDef > Start  <input type="text"  (input)="Start($event)"> </th>
    <td mat-cell *matCellDef="let element"> {{element.Start }} </td>
  </ng-container>
  <ng-container matColumnDef="End">
    <th mat-header-cell *matHeaderCellDef> End  <input type="text"  (input)="End($event)"></th>
    <td mat-cell *matCellDef="let element"> {{element.End }} </td>
  </ng-container>
  <ng-container matColumnDef="Reason">
    <th mat-header-cell *matHeaderCellDef> Reason
    <mat-select [(ngModel)]="filter" (selectionChange)="Filter($event.value)">
      <mat-option *ngFor="let reason of Reasons" [value]="reason" >{{reason}}</mat-option>
    </mat-select>  
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Reason }} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element; let i=index"> 
    <button mat-raised-button color="warn" (click)="deleteEvent(element)">Delete</button>  
    </td>
  </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>

<ng-template #customMonthCell let-day="day">
  {{day.date | date:'d'}}
  <div *ngFor="let event of day.events">
    {{event.title}}
  </div>
</ng-template>

  


