::ng-deep mwl-calendar-month-view .cal-month-view {
  display: grid;
}
 
::ng-deep mwl-calendar-month-view .cal-cell {
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

:ng-deep mwl-calendar-month-view .cal-month-view .cal-event{
    display: none;
}

:ng-deep mwl-calendar-month-view .cal-month-view .cal-days .cal-cell-row {
    border-bottom: 0px;
}

::ng-deep .cal-time-label-column {
  display: none;
}

