<mat-toolbar color="primary">
  <span>Doctor Appointment Scheduler</span>
  <input  type="radio"  value="month" [(ngModel)]="view">Month
  <input type="radio"  value="week" [(ngModel)]="view">Week
  <button mat-button (click)="previous()"><</button>
  <span>{{viewDate | calendarDate:(view + 'ViewTitle')}}</span>
  <button mat-button (click)="next()">></button>
  <button mat-raised-button color="accent" (click)="openAddEventDialog()">Add Event</button>
</mat-toolbar>

<div style="margin:20px">
  <mwl-calendar-month-view class="month"
    *ngIf="view===CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [cellTemplate]="customMonthCell">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngIf="view===CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-week-view>

</div>

<ng-template #customMonthCell let-day="day">
  {{day.date | date:'d'}}
  <div *ngFor="let event of day.events">
    {{event.title}}
  </div>
</ng-template>

<!-- <app-dialoug></app-dialoug> -->